html {
  background-color: rgb(24, 11, 29);
}

.container-fluid {
  background-color: rgb(24, 11, 29);
}

/* input[type="text"] {
  background: transparent;
  color: white;
} */

/* 
input[type="text"]:focus {
  background: transparent;
  color: white;
} */